In [ ]:
import twint
import pandas as pd
import nest_asyncio
nest_asyncio.apply()

In [ ]:
c = twint.Config()
c.Username = "elonmusk"
c.Pandas = True

In [ ]:
c.Limit = 13000

In [ ]:
twint.run.Search(c)

In [29]:
Tweets_df = twint.storage.panda.Tweets_df

In [30]:
Tweets_df.head(10)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1350011037039415296,1349712045625798664,1.610703e+12,2021-01-15 04:24:47,-0500,,@SuperclusterHQ @w00ki33 Fallout New Texas,en,[],[],...,,,,,,"[{'screen_name': 'SuperclusterHQ', 'name': 'Su...",,,,
1,1349995606387912704,1347548843936800772,1.610699e+12,2021-01-15 03:23:28,-0500,,@Breedlove22 @benmezrich Only Chuck Norris can...,en,[],[],...,,,,,,"[{'screen_name': 'Breedlove22', 'name': 'Rober...",,,,
2,1349994270627926017,1347548843936800772,1.610699e+12,2021-01-15 03:18:10,-0500,,@Cerberu21014829 @Breedlove22 @benmezrich Good...,en,[],[],...,,,,,,"[{'screen_name': 'Cerberu21014829', 'name': 'C...",,,,
3,1349977642708168704,1347548843936800772,1.610695e+12,2021-01-15 02:12:06,-0500,,@Breedlove22 @benmezrich The thing we call mon...,en,[],[],...,,,,,,"[{'screen_name': 'Breedlove22', 'name': 'Rober...",,,,
4,1349970666477527042,1349970666477527042,1.610693e+12,2021-01-15 01:44:22,-0500,,Monty Python is amazing https://t.co/UJq94IWT88,en,[],[],...,,,,,,[],,,,
5,1349961119054639105,1349955432765386754,1.610691e+12,2021-01-15 01:06:26,-0500,,@RationalEtienne @tobyliiiiiiiiii @Erdayastron...,en,[],[],...,,,,,,"[{'screen_name': 'RationalEtienne', 'name': 'O...",,,,
6,1349957857446391808,1349955432765386754,1.610690e+12,2021-01-15 00:53:28,-0500,,@tobyliiiiiiiiii @Erdayastronaut Probably wise,en,[],[],...,,,,,,"[{'screen_name': 'tobyliiiiiiiiii', 'name': 'T...",,,,
7,1349956371127672834,1349955432765386754,1.610690e+12,2021-01-15 00:47:34,-0500,,@Erdayastronaut Weâ€™re making major improvement...,en,[],[],...,,,,,,"[{'screen_name': 'Erdayastronaut', 'name': 'Ev...",,,,
8,1349954804999725056,1349743604059807746,1.610689e+12,2021-01-15 00:41:21,-0500,,@PPathole @johnkrausphotos @SpaceX Two of the ...,en,[],[],...,,,,,,"[{'screen_name': 'PPathole', 'name': 'Pranay P...",,,,
9,1349949822795706369,1349743604059807746,1.610688e+12,2021-01-15 00:21:33,-0500,,@johnkrausphotos @SpaceX Nice shot,en,[],[],...,,,,,,"[{'screen_name': 'johnkrausphotos', 'name': 'J...",,,,

In [31]:
Tweets_df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [32]:
Tweets_df.drop(['id', 'conversation_id', 'created_at', 'timezone', 'place', 'language', 'hashtags', 'cashtags', 'geo', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'], axis=1, inplace=True)

In [34]:
Tweets_df

                      date                                              tweet
0      2021-01-15 04:24:47         @SuperclusterHQ @w00ki33 Fallout New Texas
1      2021-01-15 03:23:28  @Breedlove22 @benmezrich Only Chuck Norris can...
2      2021-01-15 03:18:10  @Cerberu21014829 @Breedlove22 @benmezrich Good...
3      2021-01-15 02:12:06  @Breedlove22 @benmezrich The thing we call mon...
4      2021-01-15 01:44:22   Monty Python is amazing  https://t.co/UJq94IWT88
...                    ...                                                ...
11846  2011-12-03 03:22:07                  That was a total non sequitur btw
11847  2011-12-03 03:20:28  Great Voltaire quote, arguably better than Twa...
11848  2011-12-01 05:29:04  I made the volume on the Model S  http://t.co/...
11849  2011-12-01 04:55:11  Went to Iceland on Sat to ride bumper cars on ...
11850  2010-06-04 14:31:57  Please ignore prior tweets, as that was someon...

[11851 rows x 2 columns]

In [40]:
Tweets_df.to_csv(r'elon_tweets.csv', index=False)